<!DOCTYPE html>
<html lang="<%= page.locale %>">
<head>
  <% include partials/head/redirect %>
  <% include partials/head/main %>
</head>
<body>
  <% include partials/header %>
<main class="device">
  <div class="col5">

    <article class="cell2-4">
      <h1>{title}</h1>
      <% include partials/editPage %>
      <%- page.body %>
    </article>

  </div>
</main>
  <% include partials/footer %>
</body>
</html>
