<!DOCTYPE html>
<html lang="<%= page.locale %>">
<head>
</head>
<body>
<main class="device">
  <div class="col5">

    <article class="cell2-4">
      <h1>{title}</h1>
      <% include partials/editPage %>
      <%- page.body %>
    </article>

  </div>
</main>
</body>
</html>
